<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ajouter un repas</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <h3>{{ modifiedArticle?.type }}</h3>
          <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
      
            <mat-form-field>
              <mat-select placeholder="Produit" formControlName="product" (ngModelChange)="onProductChange($event)">
                <mat-option *ngFor="let product of existingProducts" [value]="product.id">
                  {{ product.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formulaire.get('product')?.invalid && formulaire.get('product')?.touched">
                Le produit est requis.
              </mat-error>
            </mat-form-field>
            
            <div *ngIf="selectedProduct">
              <p>Calories: {{ getProductDetails(selectedProduct)?.calories }}</p>
              <p>Lipides: {{ getProductDetails(selectedProduct)?.lipid }}</p>
              <p>Glucides: {{ getProductDetails(selectedProduct)?.carbohydrate }}</p>
              <p>Protéines: {{ getProductDetails(selectedProduct)?.protein }}</p>
            </div>

            
            <mat-card-actions>
              <button mat-raised-button type="submit" color="primary" class="me-2" [disabled]="formulaire.invalid">
                Enregistrer
              </button>
              <button mat-raised-button color="warn" type="button" (click)="onCancel()">
                Annuler
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
