<div class="container">
  <a *ngIf="jwt" mat-raised-button color="primary" routerLink="/add-product" class="mt-4">Ajouter un produit</a>

  <div class="row">
    <div class="col-4 mt-4" *ngFor="let product of productList">

      <mat-card>
        <mat-card-header class="mb-2">
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lipides : {{ product.lipid }} g</p>
          <p>Glucides : {{ product.carbohydrate }} g</p>
          <p>Protéines : {{ product.protein }} g</p>
          <p>Calories : {{ product.calories }} cal</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="jwt?.admin" mat-button color="primary" [routerLink]="['/modify-product', product.id]">Modifier</button>
          <button *ngIf="jwt?.admin" mat-button color="warn" (click)="onDeleteArticle(product.id)">Supprimer</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
